/* Estilo para o alerta */
.alert-box {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border: 2px;
    color: red;
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.274);
    margin-top: 10px;
}

.alert-content {
    border: 2px;
    justify-content: space-between;
    align-items: center;
}

.alert-box.success {
    background-color: green;
    color: white;
}

.alert-box.error {
    background-color: red;
    color: white;
}

.alert-button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
