.header {
    background-color: #6F0E0E;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
}


.logo {
    color: white;
    font-family: "Raleway", serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    padding: 0px 24px;
    margin: 0px;
}

ul > li {
    display: inline-block;
    margin-right: 50px;
}

.nav-element {
    background-color: #D9D9D9;
    border-radius: 25px;
    border-width: 0px;
}

.text-element {
    color: #280000;
    padding: 0px 16px;
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: medium;
}

#left {
    display: flex;
    align-items: center;
}

#welcome {
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}