#interested-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    color: #495057;
}

.card-body strong {
    color: black;
}

.card-body p {
    font-family: "Raleway", serif;
    margin-bottom: 10px;
}